
nbproject/private
nbproject/private/
nbproject/private/*
/nbproject/private
/nbproject/private/
/nbproject/private/*

vendor
vendor/
vendor/*
/vendor
/vendor/
/vendor/*

_cache
_cache/
_cache/*
/_cache
/_cache/
/_cache/*

_db
_db/
_db/*
/_db
/_db/
/_db/*

_tmp
_tmp/
_tmp/*
/_tmp
/_tmp/
/_tmp/*

composer.lock

.DS_Store
