
nbproject/private
nbproject/private/
nbproject/private/*
/nbproject/private
/nbproject/private/
/nbproject/private/*

vendor
vendor/
vendor/*
/vendor
/vendor/
/vendor/*

_cache
_cache/
_cache/*
/_cache
/_cache/
/_cache/*

composer.lock
