html, body {
    padding: 0;
    margin: 0;
}
html, input, select, button {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: @color_main_normal;
    &:hover {
        text-decoration: underline;
        color: @color_main_dark;
    }
}
.clean_list {
    .clean_list();
}